@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
   margin-bottom: 48px;
   &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 24px;
   }

   .menu {
      margin-left: 60px;
      &__list {
         width: 500px;
         display: flex;
         justify-content: space-between;
      }
   }
   &-search {
      flex-grow: 1;
      margin-right: 24px;
      img {
         margin-left: auto;
      }
   }
}
.hero {
   margin-bottom: 48px;
   &-title {
      margin-bottom: 48px;
      max-width: 870px;
      font-family: "New York", sans-serif;
      font-weight: 700;
      font-size: 112px;
      line-height: 1;
      span {
         color: $red;
      }
   }
   &-row {
      display: flex;
      justify-content: space-between;
      &__content {
         flex: 0 0 28%;
         margin-right: 20px;
      }
      &__text {
         margin-bottom: 48px;
      }
   }
}
.works {
   &-title {
      max-width: 530px;
      margin: 0 auto 40px;
   }
   &-slider__item {
      position: relative;
      margin-right: 40px;
   }
}
.works-arrow {
   position: absolute;
   top: -60px;
   z-index: 5;
   cursor: pointer;
   &__left {
      right: 40px;
   }
   &__right {
      right: 0;
      transform: rotate(180deg);
   }
}

.benefits {
   &-title {
      max-width: 460px;
      margin-bottom: 40px;
   }
   &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-image {
      flex-shrink: 1;
      margin-right: 20px;
   }
   &-column {
      flex: 0 1 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__item {
         position: relative;
         padding-left: 86px;
         margin-bottom: 48px;
         &-title {
            margin-bottom: 8px;
            font-weight: 600;
         }
         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 55px;
         }
         &--1::before {
            background: url(../images/benefits-icon-01.svg) no-repeat;
         }
         &--2::before {
            background: url(../images/benefits-icon-02.svg) no-repeat;
         }
         &--3::before {
            background: url(../images/benefits-icon-03.svg) no-repeat;
         }
      }
      &__btn {
         margin-top: 24px;
         text-transform: uppercase;
      }
   }
}
.reviews {
   &-title {
      max-width: 400px;
      margin-bottom: 40px;
   }
   &-content {
      position: relative;
      justify-content: flex-end;
   }
   &-item {
      position: relative;
      flex: 0 1 79%;
      padding-left: 110px;
      &__text {
         margin-bottom: 60px;
         font-weight: 300;
         font-size: 32px;
         line-height: 160%;
      }
      &::before {
         content: "";
         position: absolute;
         width: 60px;
         height: 45px;
         top: 0;
         left: 0;
         background: url(../images/quotes.svg) no-repeat;
      }
      &__subscription {
         span {
            font-weight: 600;
         }
      }
   }
}
.reviews-arrows {
   position: absolute;
   bottom: -40px;
   right: 0;
   z-index: 6;
   cursor: pointer;
   &__left {
      right: 40px;
   }
   &__right {
      transform: rotate(180deg);
   }
}

.projects {
   background: linear-gradient(180deg, #e4e4e4 22.12%, #ffffff 100%);
   &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-column {
      flex: 0 1 47%;
   }
   &-title {
      margin-bottom: 64px;
      span {
         color: $red;
      }
   }
}
.partners {
   background-color: #fefefeee;
   &-title {
      margin-bottom: 16px;
   }
   &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
   }
}
.footer {
   padding: 80px 0;
   background-color: #fefefeee;
   border-top: 1px solid #f0f0f0;
   &-logo {
      margin-left: 20px;
      flex-shrink: 0;
   }
   &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-menu {
      max-width: 530px;
      width: 100%;
      &__list {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }
      &__link {
         font-weight: 600;
         font-size: 12px;
         line-height: 40px;
      }
   }
}

@import "media";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import "../../node_modules/magnific-popup/dist/magnific-popup";
